<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Cumera!</title>
</head>
<body>
    <img src="/static/helloworld_cumera.jpeg" style="width:100%;height:auto;">
    <center>
        {% if logged_in %}
            <p> You are logged in as <span style="font-weight:bold">{{ username }} </span> </p>
        {% else %}
            <form action="/login/">
                <input type="submit" class="btn btn-primary" value="Sign in" style="width:30%;height:auto;"/>
            </form>
            <form action="/join/">
                <input type="submit" class="btn btn-primary" value="Sign up" style="width:30%;height:auto;"/>
            </form>
        {% endif %}
    </center>

</body>
</html>