{% extends './layout.html' %}

{% block login_content %}
    <form action="/user/login/">
        <input type="submit" class="btn btn-primary" value="Sign in" style="width:30%;height:auto;"/>
    </form>
    <form action="/user/join/">
        <input type="submit" class="btn btn-primary" value="Sign up" style="width:30%;height:auto;"/>
    </form>
{% endblock login_content %}

{% block degree_content %}
    <h1>Eyes correction degree</h1>
    <h3>{{ eyes }}</h3>

    <h1>Chin correction degree</h1>
    <h3>{{ chin }}</h3>
{% endblock degree_content %}