<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Join into Cumera!</title>
</head>
<body>
    <form method="POST">
        <div>
        <label for="username">User name</label>
        <input type="text" class="form-control" name="username" required>
        </div>
        <div>
        <label for="email" >E-mail</label>
        <input type="text" class="form-control" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" name = "password" required>
        </div>
        <div>
            <label for="password-confirm">Password confirm</label>
            <input type="password" class="form-control" name = "password-confirm" required>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</body>
</html>