<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/apiserver.css' %}">
    <meta charset="UTF-8">
    <title>Cumera!</title>
</head>
<body>
    <img src="/static/helloworld_cumera.jpeg" style="width:70%;height:auto; align="center">
    <center>
        {% if message %}
            <strong>{{ message }}</strong>
        {% endif %}
        {% if request.session.username %}
            <p> You are logged in as <span style="font-weight:bold">{{ request.session.username }} </span> </p>
            <form action="/correction_degree/">
                <input type="submit" class="btn btn-primary" value="Get correction degree" style="width:30%;height:auto;"/>
            </form>
            <form action="/correction_degree/set/">
                <input type="submit" class="btn btn-primary" value="Set correction degree" style="width:30%;height:auto;"/>
            </form>
            <form action="/user/logout/">
                <input type="submit" class="btn btn-danger" value="Log out" style="width:30%;height:auto;"/>
            </form>
            {% block degree_content %}
            {% endblock degree_content%}
        {% else %}
            {% block login_content %}
            {% endblock login_content %}
        {% endif %}
    </center>

</body>
</html>